<div class="login-container">
  <h2>Login</h2>

  <form (ngSubmit)="loginEmail()" class="login-form">
    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="email"
      name="email"
      required
      autocomplete="username"
    />
    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
      name="password"
      required
      autocomplete="current-password"
    />

    <button type="submit" [disabled]="isLoading">Login</button>
  </form>

  <button class="google-btn" (click)="loginGoogle()" [disabled]="isLoading">
    Login with Google
  </button>

  <button class="reset-btn" (click)="resetPassword()" [disabled]="isLoading">
    Recover Password
  </button>

  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

  <p class="signup-text">
   Not registered yet? 
    <a routerLink="/signup">Sign up</a>
  </p>
</div>
